@import url("components/forms.css");
@import url("components/navbar.css");
@import url("components/cards.css");

body {
    background-color: #FFFFFF;
    color: #233D4D;
  }

.modal {
    top: 0;
    visibility: hidden;
    opacity: 0;
  }

.primary-btn {
  background-color: #00ABF5;
  border-style: solid;
  border-width: 2px;
  border-color: #2BC9DE;
  color: white;
}

.primary-btn:hover {
  background-color: #1FBCFF;
  border-color: #008FCC;
}

.info-btn {
  background-color: #9DBED2;
  border-style: solid;
  border-width: 2px;
  border-color: #477A9A;
  color: white;
}

.button-warning {
  background-color: #ef233c;
  border-style: solid;
  border-width: 2px;
  border-color: #F46778;
  color: white;
}

.button-warning:hover {
  background-color: #D20F25;
  border-color: #990B1B;
}
