@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url("components/forms.css");
@import url("components/navbar.css");
@import url("components/cards.css");
@import url("components/pomo-container.css");

body {
    background-color: #FFFFFF;
    color: #233D4D;
  }

main {
  height: 100vh;
}

  .tasks-container {
    display: flex;
    justify-content: center;
  }

  .buttons-container {
    display: flex;
    justify-content: flex-end;
    max-height: 40px;
  }

.modal {
    top: 0;
    visibility: hidden;
    opacity: 0;
  }

.primary-btn {
  background-color: #00ABF5;
  border-style: solid;
  border-width: 2px;
  border-color: #2BC9DE;
  color: white;
}

.primary-btn:hover {
  background-color: #1FBCFF;
  border-color: #008FCC;
}

.info-btn {
  background-color: #9DBED2;
  border-style: solid;
  border-width: 2px;
  border-color: #477A9A;
  color: white;
}

.button-warning {
  background-color: #ef233c;
  border-style: solid;
  border-width: 2px;
  border-color: #F46778;
  color: white;
}

.button-warning:hover {
  background-color: #D20F25;
  border-color: #990B1B;
}
