body {
  background-color: #f9edc4;
}

.modal {
  top: 0;
  visibility: hidden;
  opacity: 0;
}
/*
.modal.close {
    top: 0;
    visibility: hidden;
    opacity: 0;
}

.modal.visible {
    opacity: 1;
    visibility: visible;
}  */
