{% extends "layout.html" %} {% block javascript %}
<script src="static/homepageCards.js"></script>
{% endblock %} {% block title %} Your Tasks {% endblock %} {% block main %}
<div class="tasks-container">
  <div class="homepage-canvas">
    {% for task in tasks %}
    <div class="card-item">
      <div>
        <h3>{{ task["task_name"] }}</h3>
      </div>
      <div class="times">
        <p>{{ task["task_due"] }}</p>
        <p><strong>{{ task["task_time"] }}</strong></p>
      </div>
      <div>
        <p>{{ task["task_location"] }}</p>
      </div>
      <div class="card-item-notes">
        <p>{{ task["task_notes"] }}</p>
      </div>
      <div class="card-task-buttons">
        <form action="/task_handler" method="post">
          <button
            type="submit"
            class="btn primary-btn"
            name="done"
            value="{{ task['task_id'] }}"
          >
            Done
          </button>
          <button
            type="submit"
            class="btn button-warning"
            name="delete"
            value="{{ task['task_id'] }}"
          >
            Delete
          </button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
