{% extends "layout.html" %} {% block title %} New Task {% endblock %} {% block
main %}
<div class="form-box">
  <form action="/newTask" method="post" id="new-task">
    <div class="form-group m-2">
      <input
        autocomplete="off"
        name="taskSubject"
        autofocus
        class="form-control"
        type="text"
        placeholder="Task subject (80 letters max)"
        maxlength="80"
      />
    </div>
    <div class="form-group m-2">
      <label for="taskDate">Due Date</label>
      <input
        autocomplete="off"
        name="taskDate"
        id="taskDate"
        class="form-control"
        type="date"
      />
    </div>
    <div class="form-group m-2">
      <label for="taskTime">Time</label>
      <input
        autocomplete="off"
        name="taskTime"
        id="taskTime"
        class="form-control"
        type="time"
      />
    </div>
    <div class="form-group m-2">
      <input
        autocomplete="off"
        name="taskLocation"
        autofocus
        class="form-control"
        type="text"
        placeholder="location"
        maxlength="500"
      />
    </div>
    <div class="form-group m-2">
      <textarea
        id="taskNotes"
        name="taskNotes"
        class="form-control"
        form="new-task"
      >
Additional notes ...</textarea
      >
    </div>

    <!-- choose category / colored / titled + make your own category? -->
    <div class="d-flex justify-content-between p-2">
      <div class="container w-50">
        <select
          class="form-select w-100"
          form="new-task"
          name="taskCategory"
          id="taskCategory"
          aria-label="Default select example"
        >
          <option selected disabled>Select a Category</option>
          {% for category in task_categories %}
          <option value="{{ category }}">{{ category }}</option>
          {% endfor %}
        </select>
      </div>
      <button class="btn primary-btn" type="submit">Save</button>
    </div>
  </form>
</div>
{% endblock %}
